@charset "UTF-8";
/* CSS Document */

#head2 {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/history/thankyou.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}