@charset "UTF-8";
/* CSS Document */

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header_bg_3.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.supporter {
	font-size:18px;
	font-family:raleway, monteserrat, open sans, helvitica neue, sans-serif;
	text-align:center;
	line-height: 2.5;
}