@charset "UTF-8";
/* CSS Document */
#membership-includes {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header_bg_5.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-headline-small{
    font-family: 'Raleway' , "Open Sans Bold", Helvetica, Arial, "Arial Bold", sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 200;
    text-transform: none;
    text-transform: uppercase;
    color: #FFF;
}


.intro-smaller {
    font-family: 'Raleway' ,'Montserrat' ,"Open Sans Bold", Helvetica, Arial, "Arial Bold", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    text-transform: none;
    color: #FFF;
}
.intro-price {
    padding-top: 70px;
    padding-bottom: 50px;
}

.ul{
    columns: 2;
	padding: 15px 0;
	font-size: 18px;
    font-weight: 300;
    color: #fff;
    margin: 40px 0;
}
.price-list{
    background-color: transparent;
	font-size: 18px;
    border: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

.price{
	text-transform: none;	
}

#price {
    background-color: #ddd;
	background-image: url(../img/bg-price.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.price-box{
    padding-left: 15px;
    padding-right: 15px;
	padding-top: 30px; 
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #fff;
	margin-top: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.graph{
	padding-top: 30px;
}
