@charset "UTF-8";
/* CSS Document */
#membership-includes {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/header_bg_5.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-headline-small{
    font-family: 'Raleway' , "Open Sans Bold", Helvetica, Arial, "Arial Bold", sans-serif;
    font-size: 46px;
    font-style: normal;
    font-weight: 200;
    text-transform: none;
    text-transform: uppercase;
    color: #FFF;
}


.intro-smaller {
    font-family: 'Raleway' ,'Montserrat' ,"Open Sans Bold", Helvetica, Arial, "Arial Bold", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    text-transform: none;
    color: #FFF;
}
.intro-price {
    padding-top: 70px;
    padding-bottom: 50px;
}

.ul{
    columns: 2;
	padding: 15px 0;
	font-size: 18px;
    font-weight: 300;
    color: #fff;
    margin: 40px 0;
}
.price-list{
    background-color: transparent;
	font-size: 18px;
    border: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

.price{
	text-transform: none;	
}

#price {
	background-image: url(../img/bg-price.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.price-box{
    padding-left: 15px;
    padding-right: 15px;
	padding-top: 15px; 
    padding-bottom: 30px;
    margin-top: 80px;
    margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
	color: inherit;
    background-color: #fff;
}

.graph{
	padding-top: 30px;
}

.glyphicon-ok{
	margin-right: 0.5em;
}

.glyphicon-plus{
	font-size: 42px;
    display: block;
    text-align: center;
    margin: 40px auto 20px;
    color: #88c7d7;
}

.signup-container {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.greyline{
	border-color: #ddd;
    border-width: 1px;
    max-width: 100px;
}

.signup-form {
	padding: 2em;
}

.signup-lead {
	font-size: 16px;
    line-height: 1.4em;
	text-transform: none;	
}

.form-control {
	margin-bottom: 1em;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-height: 20px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(37, 39, 41, 0.498039);
    padding: 10.5px 10px;
    transition: all 0.15s ease-in-out;
}

.signup-text {
    padding-top: 0.5em;
}

.signup-text a .signup-notice a {
	font-weight : 400;
	margin-left: 1em;
	color: #5e8eb7;
}

.signup-box {
	padding-left: 15px;
    padding-right: 15px;
	padding-top: 15px; 
    padding-bottom: 15px;
    margin-top: 80px;
    margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 10px;
	color: inherit;
    background-color: #fff;
}

.signup-notice {
    padding-top: 0.5em;
	font-size: 12px;
	
}

.glyphicon-user{
    font-size: 42px;
    display: block;
    text-align: center;
    margin: 40px auto 20px;
    color: #88c7d7;
}
